body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #afafcf;
  font-family: Arial, sans-serif;
}

.calculator {
  background: black;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 300px;
}

#display {
  width: 93%;
  height: 50px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
  padding: 10px;
  border: none;
  background: #fff;
  border-radius: 8px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  background-color: #c9c8c7;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background-color: #c2c4c8;
}

button.zero {
  grid-column: span 2;
}

button.equal {
  grid-row: span 2;
}
